 section.title {
    padding: 15px;
    color: #FFFFFF;
    text-shadow: 2px 2px #333333;
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

section.title h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px #333333;
}

section.title h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px #333333;
}

section.title h3 {
    color: #FFFFFF;
    text-shadow: 2px 2px #333333;
}

h1, h2, h3 {
    text-align: center;
}

.reveal pre code {
    overflow: visible;
}

.reveal pre {
    width: 100%;
    max-height: fit-content;
}
