<div class="pagination grid">
    <div class="col previous">
        {% if paginator.previous_page %}
            <a href="{{site.url}}{{paginator.previous_page_path}}">&#x27f5; Previous</a>
        {% else %}
            Previous
        {% endif %}
    </div>
    <div class="col next" style="text-align: right">
        {% if paginator.next_page %}
            <a href="{{site.url}}{{paginator.next_page_path}}">Next &#x27f6;</a>
        {% else %}
            Next
        {% endif %}
    </div>
</div>