{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}

{#if page.paginator}
<nav class="mt-4 flex items-center justify-between text-sm">
    {#if page.paginator.isFirst}
    <span>← First</span>
    {#else}
    {#if page.paginator.prev}
    <a href="{page.paginator.previous}" class="text-blue-600 hover:text-blue-800 flex items-center">
        <span>← Newer Posts</span>
    </a>
    {#else}
    <span>← Newer Posts</span>
    {/if}
    {/if}


    {#if page.paginator.next}
    <a href="{page.paginator.next}" class="text-blue-600 hover:text-blue-800 flex items-center">
        <span>Older Posts &rarr;</span>
    </a>
    {#else}
    <span>Last &rarr;</span>
    {/if}
</nav>
{/if}
