---
title: Coming Up for Air
description: The online home of Jason Lee, Enterprise Edition :) This blog covers topics such as Java, Kotlin, Quarkus, Android development, and a myriad of other JVM-related topics.
author: Jason Lee
twitter: jasondlee
site_name: Coming Up for Air
---
<!DOCTYPE html>
<html>
<head>
    <title>Coming Up for Air {#if page.title}: {page.title}{/if}</title>

    {#bundle /}
    {#seo page site /}
    <meta name="twitter:image:src" content="{site.url('images/sophielaptop.jpg').absolute}" />
    <meta property="og:image" content="{site.url('images/sophielaptop.jpg').absolute}" />

    <link rel="me" href="https://mastodon.cloud/@jasondlee"/>
    <link rel="author" href="{site.file('images/profile-pic.jpg').absolute}"/>

    {#ga4 tag="3GQK1YDRQM" /}
    {#rss site /}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/x-icon" href="{site.url('favicon.ico').absolute}" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css"/>
    {#search-script /}
</head>
<body>
<div class="grid">
    <div class="col blogname">
        <span>
            <a href="{site.url.absolute}">Coming Up for Air</a>
        </span>
    </div>
</div>
<div class="grid main">
    {#insert /}
</div>
<div class="footer">
    <div>
        <div>
            &#169; Copyright Jason Lee, 2005–2025. All rights reserved. Powered by Quarkus Roq {global:roqVersion}.
            <img style="vertical-align: top" src="{site.image("roqico.png")}" />
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
<script src="/js/copy.js" type="text/javascript"></script>
</body>
</html>
