.reveal .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 0.5em;
    background-color: var(--r-link-color);
}

.footer img {
    max-height: 40px;
    padding-left: 20px
}

.reveal pre {
    width: 100%;
}

li code {
    background-color: lightgray;
}

.reveal pre code {
    min-width: 100%;
    max-height: none;
}

.reveal a {
    color: var(--r-link-color);
}

.reveal .controls button {
    color: white;
}

:root {
    --r-link-color: #cd0000;
    --r-link-color-dark: #990000;
    --r-link-color-hover: #990000;
}
