$mainColor: #47586d;
$white: #ffffff;
$headerTextColor: #cecfd1;
$footerBorderColor: #2ba6cb;
$widgetBorderColor: #666666;
$defaultCodeColor: #7f0a0cbb;

$buttonColor: $mainColor;
$buttonHover: $defaultCodeColor;
