RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule ^(http://.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect 301 /tw https://twitter.com/jasondlee
Redirect 301 /twitter https://twitter.com/jasondlee
Redirect 301 /in https://www.linkedin.com/in/jasondlee
Redirect 301 /li https://www.linkedin.com/in/jasondlee
Redirect 301 /linkedin https://www.linkedin.com/in/jasondlee
#Redirect 301 /fb http://www.facebook.com/jasondaniellee
#Redirect 301 /facebook http://www.facebook.com/jasondaniellee
Redirect 301 /resume /resume.docx
Redirect 301 /cv /resume.docx

RewriteRule feed$ https://jasondl.ee/feed.atom [R=301,L]
