---
layout: default
title: Home
pagination:
    enabled: true
---
{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
    <div class="grid">
        <div class="col-1" style="padding-top: 0.4rem">
            <div class="entry-date">
                <div class="date-box updated">
                    <div class="date">{{ post.date | date: "%d" }}</div>
                    <div class="month-year">{{ post.date | date: "%b %Y" }}</div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <h1 class="title">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h1>
            <div class="col" style="text1-align: right;">
                {% include share-page.html title=post.title url=post.url %}
            </div>
        </div>
    </div>
    {{ post.excerpt }}
    <div class="read-more small">
        <a href="{{site.baseurl}}{{ post.url }}">Read More &rsaquo;</a>
    </div>
</article>
{% endfor %}
<div style="border-top: 2px solid #47586d;"></div>

{% include pagination.html %}
