---
layout: default
title: Home
pagination:
    enabled: true
---
{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
  <header class="entry-header">
    <h1 class="title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <span>
      <time class="pubdate" datetime="{{post.date}}">{{post.date | date: "%A, %B %-d, %Y" }}</time> 
    </span>
  </header>
  {{ post.excerpt }}
  <div class="grid__item width-8-12 read-more small"><a href="{{site.baseurl}}{{ post.url }}">Read More &rsaquo;</a></div>
  <footer class="entry-footer small">
      {% if post.tags and post.tags.size > 0 %}
      <div class="tags">
            <span class="title">tags: </span>
            {% for tag in post.tags %}
                <a href="{{site.url}}/tags/{{ tag | downcase | slugify }}.html">{{tag}}</a>
            {% endfor %}
      </div>
      {% endif %}
      <div class="grid__item width-4-12 width-12-12-m share-post">{% include share-page.html title=post.title url=post.url %}</div>
  </footer>
</article>
{% endfor %}
<div style="border-top: 2px solid #2BA6CB;"></div>

{% include pagination.html %}
